<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="card">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <h2 class="title"> Change your password</h2>
    <% if resource.errors.any? %>
          <div class="message-alert"><%= resource.errors.full_messages[0] %></div>
        <%else%>
          <br/>
          <br/>
        <%end%>
        
    
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :psw, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :psw, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <button class="cta-btn">Change my password</button>
  <% end %>
</div>




