<script src="https://kit.fontawesome.com/030399ca8b.js" crossorigin="anonymous"></script>
<%= javascript_include_tag "jquery-min" %>
<%= javascript_include_tag "todo" %>

<div class="container">
    <%= render 'todos/head'%>
    <%= render 'todos/newTask'%>
    <%= render 'todos/open'%>
    <%= render 'todos/inprogress'%>
    <%= render 'todos/completed'%>
    <%= render 'todos/signOut'%>
</div>