<%= stylesheet_link_tag 'todo', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'todo' %>
<script src="https://kit.fontawesome.com/030399ca8b.js" crossorigin="anonymous"></script>
<div class="container">
    <div id="newtask">
    <p><b> New Task </b></p>
    <%= form_tag todos_path,{method: :post} do -%> 
        <input type="text" placeholder="Task to be done" name='todo[task_name]' />
        <button id='submit'>Add</button>
        <%end -%>
    </div>

    <div id="tasks">
    <p><b> To Do </b></p>
      <% @todos.each do |todo| %>
        <%if todo.status == 'open'%>
          <div class="task">
              <span id="taskname"> <%= todo.task_name%> </span>
              <% task_url = "/todos/#{todo.id}"%>
              
                <%= form_tag task_url,{method: :put} do -%> 
                  <button class= "inprogress" type= 'submit' name="todo[status]" value="InProgess">
                    <span>In Progress</span>
                  </button>
                <%end -%>
              
              <%= form_tag task_url,{method: :delete} do -%> 
                <button class= "delete" type= 'submit' class="delete">
                  <i class="far fa-trash-alt"></i>
                </button>
              <%end -%>
          </div>
        <% end %>
      <% end %>
    </div>

    <div id="tasks">
    <p><b> In Progress </b></p>
      <% @todos.each do |todo| %>
        <%if todo.status == 'InProgess'%>
          <div class="task">
              <span id="taskname"> <%= todo.task_name%> </span>
              <% task_url = "/todos/#{todo.id}"%>
                <%= form_tag task_url,{method: :put} do -%> 
                  <button class= "inprogress" type= 'submit' name="todo[status]" value="Completed">
                    <span>Completed</span>
                  </button>
                <%end -%>
              <%= form_tag task_url,{method: :delete} do -%> 
                <button class= "delete" type= 'submit' class="delete">
                  <i class="far fa-trash-alt"></i>
                </button>
              <%end -%>
          </div>
        <% end %>
      <% end %>
    </div>

    <div id="tasks">
    <p><b> Completed </b></p>
      <% @todos.each do |todo| %>
        <%if todo.status == 'Completed'%>
          <div class="task completed">
              <span id="taskname"> <%= todo.task_name%> </span>
              <% task_url = "/todos/#{todo.id}"%>
              <%= form_tag task_url,{method: :delete} do -%> 
                <button class= "delete" type= 'submit' class="delete">
                  <i class="far fa-trash-alt"></i>
                </button>
              <%end -%>
          </div>
        <% end %>
      <% end %>
    </div>
<br/>
<br/>
<br/>
     <%= form_tag '/users/sign_out',{method: :delete} do -%>  
        <button class="signout">Sign Out</button> 
     <%end -%>
  
    
    
</div>