<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="card">
   <%= form_tag '/users/sign_in' do -%>  
      <h2 class="title"> Sign in</h2>
      <p class="subtitle">Don't have an account? <a href="<%= new_user_registration_url %>"> Sign Up</a></p>
      <% if notice.present? %>
         <div class="message-notice"><%= notice %></div>
      <%elsif alert.present?%>
         <div class="message-alert"><%= alert%></div>
      <% else %>   
         <br/>
         <br/>
      <%end%>

      <div class="email-login">
         <label for="email"> <b>Email</b></label>
         <input type="email" placeholder="Enter Email" name="user[email]" required>
         <label for="psw"><b>Password</b></label>
         <input type="password" placeholder="Enter Password" name="user[password]" required>
      </div>
      <button class="cta-btn">Log In</button>
      <a class="forget-pass" href="<%= new_user_password_url %>">Forgot password?</a>
   <% end -%>
</div>